#about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
}

main {
    display: flex;
    align-items: center;
    gap: 32px;
    margin-left: 32px;
    margin-top: 32px;
    margin-bottom: 32px;
}

#description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
}

#description p {
    font-size: 16px;
    font-weight: 200;
    width: 400px;
}

#description h1 {
    font-size: 32px;
    font-weight: bold;
}

#info {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 280px;
}

#location {
    display: flex;
    gap: 8px;
    align-items: center;
}

#countries {
    display: flex;
    gap: 8px;
    align-items: center;
}

#photos {
    display: flex;
    align-items: center;
    gap: 8px;
}