footer {
    display: flex;
    padding-block: 24px;
    gap: 24px;
    margin-left: 370px;
    margin-right: 340px;
    font-weight: 200;
    font-size: 14px;
}

footer span:nth-child(1) {
    margin-right: auto;
}

@media screen and (min-width: 769px) and (max-width: 1265px) {
    footer {
        flex-direction: row; /* Alterar para coluna em telas menores */
        align-items: center; /* Centralizar os itens */
        justify-content: space-around;
        gap: 16px; /* Reduzir o espaçamento entre os elementos */
        margin-left: 20px; /* Ajustar as margens para centralizar */
        margin-right: 20px;
        padding-block: 16px; /* Reduzir o padding vertical */
    }

    footer span:nth-child(1) {
        margin-right: 0; /* Remover a margem automática */
    }
}

@media screen and (min-width: 498px) and (max-width: 768px) {
    footer {
        align-items: center;
        justify-content: space-around;
        gap: 12px;
        margin-left: 16px;
        margin-right: 16px;
        padding-block: 12px;
    }

    footer span:nth-child(1) {
        margin-right: 0;
    }
}

@media screen and (max-width: 498px) {
    footer {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin-left: 10px;
        margin-right: 10px;
        padding-block: 10px;
    }

    footer span:nth-child(1) {
        margin-right: 0;
    }
}