footer {
    display: flex;
    padding-block: 24px;
    gap: 24px;
    margin-left: 370px;
    margin-right: 340px;
    font-weight: 200;
    font-size: 14px;
}

footer span:nth-child(1) {
    margin-right: auto;
}